OPERATORS IN PYTHON
..........................
ARITHMETIC OPERATORS
LOGICAL OPERATORS
ASSIGNMENT
RELATIONAL
UNARY

In [3]:
#arithmetic operators
a=23
b=24
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(int(a**b))

47
-1
552
0.9583333333333334
0
23
480250763996501976790165756943041

In [20]:
#assignment operators
x=23
x=x+3
print(x)
y=x-3
print(y)
z=y*2
print(z)
q=z/3
print(q)
q=z//2
print(q)
q=z^2
print(q)
q=z**3
print(q)
z=q&8
print(z)

26
23
46
15.333333333333334
23
44
97336
8

In [24]:
#relational operators
x=23
y=24
print(x==y)
print(x<y)
print(x>y)
print(x!=y)
print(x<=y)
print(x>=y)

False
True
False
True
True
False

In [ ]:
#unary
negative,negation

In [1]:
#LOGICAL OPERATORS
x=23
y=24
print(x&y)
print(x or y)
print(not x)

16
23
False

In [3]:
a = 10
b = 20
c = a

print(a is not b)
print(a is c)

True
True

In [ ]:
z