In [2]:
import sys
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

In [7]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [11]:
len(keyword.kwlist)

35

In [4]:
23

23

#PRINT STATEMENT

In [6]:
a=10
b=20
a
b

20

In [8]:

a=10
b=20
print(a)
print(b)

10
20

In [10]:
print(1)
print(10,20)
print('python')
print(10,20,'python')

1
10 20
python
10 20 python

In [ ]:
#print result with string

In [16]:
a=23
b=24
c=a+b
d=a-b
e=a*b
f=a//b
print("the addition of",a,"and",b,"is",c)
print("the subtraction of",a,"and",b,"is",d)
print("the multiplication of",a,"and",b,"is",e)
print("the division of",a,"and",b,"is",f)

the addition of 23 and 24 is 47
the subtraction of 23 and 24 is -1
the multiplication of 23 and 24 is 552
the division of 23 and 24 is 0

In [20]:
name = "vishwa"
age=21
city="hyd"
print("i am ",name,"my age is",age,"and i am from",city)

i am  vishwa my age is 21 and i am from hyd

#print format method

In [24]:
name = "vishwa"
age=21
city="hyd"
print("i am {} my age is {} and i am from {}".format(name,age,city))

i am vishwa my age is 21 and i am from hyd

#More short format meythod(f string method)

In [32]:
name = "vishwa"
age=21
city="hyd"
print(f"i am {name} my age is {age} and i am from {city}")

i am vishwa my age is 21 and i am from hyd

#END STATEMENT

In [35]:
print("hello",end=' ')
print("good night")

hello good night

In [ ]:
print("hi","how","are",you