SETS
.................
sets can be declared by using {}
can be of any data type
duplicates are not allowed
sets are mutable and sets are immutable
indexing is not allowed
slicing is not allowed

In [5]:
ss1={}
type(ss1)

dict

In [7]:
ss1={1,2,3,4,5,6}
#any data type can be declared in sets
print(ss1)

{1, 2, 3, 4, 5, 6}

In [13]:
ss2={2,3,4,6,7,[2,4,67]}
print(ss2)
#mutable data like lists is not allowed in  list

TypeError: unhashable type: 'list'

In [15]:
ss1

{1, 2, 3, 4, 5, 6}

In [17]:
ss1[0]
#cannot acces through indexing and slicing

TypeError: 'set' object is not subscriptable

In [19]:
#looping for set
for i in ss1:
    print(i)

1
2
3
4
5
6

In [21]:
for i in enumerate(ss1):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 4)
(4, 5)
(5, 6)

set membership

In [57]:
q={25,27,29,31,33}
print(23 in q)

False

In [59]:
print(27 in q)

True

In [61]:
#using if else
if 30 in q:
    print("hello")
else:
    print("python")

python

add() takes one argument and adds that number before to its next larger number

In [64]:
print(q)

{33, 25, 27, 29, 31}

In [66]:
q.add(24)
q.add(32)
print(q)

{32, 33, 24, 25, 27, 29, 31}

copy()

In [69]:
r=q.copy()
print(r)

{32, 33, 24, 25, 27, 29, 31}

In [71]:
id(q)

2657045243360

In [73]:
id(r)

2657045246720

remove() give element in the parameters

In [76]:
q

{24, 25, 27, 29, 31, 32, 33}

In [78]:
q.remove(32)
print(q)

{33, 24, 25, 27, 29, 31}

In [81]:
q.remove(23)

KeyError: 23

to avoid this error discard function is used 
discard():removes the element if it is present
does not throw you error if the element is not present

discard()

In [86]:
r

{24, 25, 27, 29, 31, 32, 33}

In [88]:
r.discard(27)

In [90]:
print(r)

{32, 33, 24, 25, 29, 31}

In [96]:
r.discard(30)
print(r)

{32, 33, 24, 25, 29, 31}

pop()  by default elimates the first element
takes no argument

In [98]:
r.pop()
print(r)

{33, 24, 25, 29, 31}

In [100]:
r.pop()
print(r)

{24, 25, 29, 31}

In [102]:
r.pop(2)

TypeError: set.pop() takes no arguments (1 given)

update function() adds many elements to the set

In [104]:
q

{24, 25, 27, 29, 31, 33}

In [108]:
q.update([1,2,4,5,6])
print(q)

{1, 2, 4, 5, 6, 24, 25, 27, 29, 31, 33}

union()  gives all the elememnts once from both the sets can be also performed by | operator

In [112]:
w={1,2,3,4,5,6,7}
t={4,5,6,7,8,9,10}
f={7,8,9,12,13,14,15}
k={23,24,25,26,27,28}

In [114]:
print(w.union(t))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [116]:
t|k

{4, 5, 6, 7, 8, 9, 10, 23, 24, 25, 26, 27, 28}

In [ ]:
intersection() gives the common elements from both the sets can alos be performed by &

In [132]:
print(w.intersection(t,k))

set()

In [134]:
t & f

{7, 8, 9}

difference() minuses the common elements and gives the first set elements as output

In [136]:
print(w)
print(t)
print(f)
print(k)

{1, 2, 3, 4, 5, 6, 7}
{4, 5, 6, 7, 8, 9, 10}
{7, 8, 9, 12, 13, 14, 15}
{23, 24, 25, 26, 27, 28}

In [138]:
w.difference(t)

{1, 2, 3}

In [140]:
f-k

{7, 8, 9, 12, 13, 14, 15}

In [142]:
t-f

{4, 5, 6, 10}

In [144]:
f-t

{12, 13, 14, 15}

symmetric difference(does not print the common elemengts from both the sets buts print the other eeements from both the sets can also be done by ^

In [171]:
print(w)
print(t)
print(f)
print(k)

{1, 5, 6, 7}
{4, 5, 6, 7, 8, 9, 10}
{7, 8, 9, 12, 13, 14, 15}
{23, 24, 25, 26, 27, 28}

In [173]:
w.symmetric_difference(t)

{1, 4, 8, 9, 10}

In [175]:
t ^ f

{4, 5, 6, 10, 12, 13, 14, 15}

superset,
subset,
disjoint

In [178]:

print(t)
print(f)
print(k)

{4, 5, 6, 7, 8, 9, 10}
{7, 8, 9, 12, 13, 14, 15}
{23, 24, 25, 26, 27, 28}

In [186]:
d={23,24,25,26}
print(d)

{24, 25, 26, 23}

issuperset()   Set A is said to be the superset of set B if all elements of B

In [192]:
k.issuperset(d)

True

issubset() Set B is said to be the subset of set A if all elements of B are

In [196]:
a1={1,2,3,4,5,6,7,8}
a2={4,5,6,7,8}
a3={23,24,25,26,27}

In [198]:
a1.issuperset(a2)

True

In [200]:
a2.issubset(a1)

True

isdisjoint() Two sets are said to be disjoint sets if they have no common elements

In [202]:
print(t)
print(f)
print(k)

{4, 5, 6, 7, 8, 9, 10}
{7, 8, 9, 12, 13, 14, 15}
{23, 24, 25, 26, 27, 28}

In [204]:
t.isdisjoint(f)

False

In [206]:
k.isdisjoint(t)

True

In [208]:
len(t)

7

In [210]:
max(t)

10

In [212]:
min(t)

4

In [214]:
sum(t)

49

In [218]:
q={23,546,43,65,4464}
sorted(q)

[23, 43, 65, 546, 4464]

In [220]:
sorted(q,reverse=True)

[4464, 546, 65, 43, 23]