SWAPPING OF VARIABLES
..........................
1.USING 3RD VARIABLE(TEMP)
2.USING OPERATORS(+,-)
3.USING BINARY NUMBER SYSTEM
4.USING EXCLUSIVE OR
5. BY DIRECTLY USING X,Y=Y,X

In [6]:
#using temporary variable
a=23
b=24
temp=a
a=b
b=temp
print(a)
print(b)

24
23

In [12]:
#using operators(+,-)
a=15
b=20
a=a+b #35
b=a-b #15
a=a-b
print("the value of a is:",a)
print("the value of b is :",b)

the value of a is: 20
the value of b is : 15

In [14]:
#directly swapping
a=30
b=50
a,b=b,a
print("the value of a is:",a)
print("the value of b is :",b)

the value of a is: 50
the value of b is : 30

In [20]:
#using binary number system
a=10
b=20
print(bin(10))
print(bin(20))
print("value of a",int(0b10100))
print("value of b",int(0b1010))

0b1010
0b10100
value of a 20
value of b 10

In [26]:
#using exclusive or
a=25
b=50
a=a^b
b=a^b
a=a^b
print("the value of a is:",a)
print("the value of b is :",b)

the value of a is: 50
the value of b is : 25